.angan {
    margin: 0%; 
    padding: 0%; 
    color: black;  
    background: url('../img/a2.jpeg');
    background-size: cover;
}
#details2
{
    text-align: left; 
    margin-left: 3%;
}
#hash{
    text-align: left;
    margin-left: 3%;
    font-size: 40px;
    }
input{
    border: none;
    border-bottom:1px solid #000;
    background: transparent;
    outline:none;
    padding: 5px; 
    width: 300px;
    height:40px;
    color:rgb(255, 255, 255);
    font-size:18px;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:black;
    text-align: left;
  }
::placeholder{
    color: black;
    text-align: left;
}

#signout
{
    position: absolute;
    top: 5%;
    left: 90%;
}
